@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*

0-600 For mobile
600-900 for tablet portrait
900-1200 for tablet landscap mode
[1200-1800] as our normal
1800+ big screens

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px/16px = 37.5em
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900/16 = 56.25
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      //1200/16 = 75
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (max-width: 112.5em) {
      //1800/16 = 112.5
      @content;
    }
  }
}
